/*Cambiamos la letra para el proyecto*/
body{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    font-size: 55px;
}

label{
    font-weight: bold;
}

input{
    height: 17px;
    padding: 10px;
}

/*Cambiamos el tamaño de la letra y tambien para que se situe en el centro*/
.container{
    text-align: center;
    font-size: 20px;
}

/*Hacemos un padding para que no este pegado dentro del input*/
.text{
    padding-bottom: 18px;
}

/*Botones*/
.button{
    background-color: #007BFF;
    font-size: 16px;
    width: 100px;
    height: 40px;
    color: white;
    border: none;
}

.button:hover{
    background-color: #145ca8;
    cursor: pointer;
}

/*Cambiamos la letra para el resultado*/
.result{
    font-family: Courier, monospace;
}